@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #121a21;
	--font: #e5e8eb;
	--blue: #1a80e5;
	--light-blue: #243647;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-weight: 400;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	color: var(--font);
}

.container {
	max-width: 1440px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 50%;
	}
}

.overflow-hidden {
	overflow: hidden;
}
